---
Checks: '
       ,*,
       ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
       ,-cppcoreguidelines-special-member-functions,
       ,-cppcoreguidelines-pro-type-union-access,
       ,-fuchsia-*,
       ,-hicpp-no-array-decay, # qCDebug
       ,-hicpp-special-member-functions,
       ,-hicpp-use-override,
       ,-google-build-using-namespace,
       ,-modernize-use-default-member-init,
       ,-modernize-use-override,
       ,-modernize-use-trailing-return-type,
       ,-readability-convert-member-functions-to-static,
       ,-readability-redundant-member-init,
       ,-readability-implicit-bool-cast,
       ,-llvmlibc-*,
'

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
CheckOptions:
- key: cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
  value: '1'
