<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <scm class="hudson.plugins.mercurial.MercurialSCM" plugin="mercurial@1.54">
	<source>https://hg.governikus.de/AusweisApp/AusweisApp2</source>
	<modules>resources/jenkins/dsl/</modules>
	<revisionType>TAG</revisionType>
	<revision>default</revision>
	<clean>true</clean>
	<credentialsId></credentialsId>
	<disableChangeLog>false</disableChangeLog>
  </scm>
  <assignedNode>Seeder</assignedNode>
  <canRoam>false</canRoam>
  <builders>
	<javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.77">
	  <targets>resources/jenkins/dsl/*.groovy
	  resources/jenkins/dsl/Releases/*.groovy</targets>
	  <usingScriptText>false</usingScriptText>
	  <sandbox>false</sandbox>
	  <ignoreExisting>false</ignoreExisting>
	  <ignoreMissingFiles>false</ignoreMissingFiles>
	  <failOnMissingPlugin>true</failOnMissingPlugin>
	  <failOnSeedCollision>true</failOnSeedCollision>
	  <unstableOnDeprecation>false</unstableOnDeprecation>
	  <removedJobAction>DISABLE</removedJobAction>
	  <removedViewAction>DELETE</removedViewAction>
	  <removedConfigFilesAction>IGNORE</removedConfigFilesAction>
	  <lookupStrategy>JENKINS_ROOT</lookupStrategy>
	  <additionalClasspath>resources/jenkins/dsl</additionalClasspath>
	</javaposse.jobdsl.plugin.ExecuteDslScripts>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
