// http://msdn.microsoft.com/en-us/library/aa381058(VS.85).aspx
#include <windows.h>

IDR_MAINFRAME	ICON	"images\\npa.ico"

#define STR_HELPER(x) #x
#define STR(x) STR_HELPER(x)

#define COMPANY      "Governikus GmbH & Co. KG"
#define PRODUCT      "AusweisApp2"
#define EXECUTABLE   "AusweisApp2.exe"
#define COPYRIGHT    "\251 2014 " COMPANY
#define VERSION_STR  STR(VERSION)


1 VERSIONINFO
FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_TWEAK
PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,VERSION_TWEAK
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP

BEGIN
  BLOCK "StringFileInfo"
 
  BEGIN
    BLOCK "040704B0"            // LANG_GERMAN/SUBLANG_DEFAULT, Unicode CP
    BEGIN
      VALUE "CompanyName",      COMPANY
      VALUE "FileDescription",  PRODUCT
      VALUE "FileVersion",      VERSION_STR
      VALUE "InternalName",     PRODUCT
      VALUE "LegalCopyright",   COPYRIGHT
      VALUE "OriginalFilename", EXECUTABLE
      VALUE "ProductName",      PRODUCT
      VALUE "ProductVersion",   VERSION_STR
    END

    BLOCK "040904B0"            // LANG_ENGLISH/SUBLANG_ENGLISH_US, Unicode CP
    BEGIN
      VALUE "CompanyName",      COMPANY
      VALUE "FileDescription",  PRODUCT
      VALUE "FileVersion",      VERSION_STR
      VALUE "InternalName",     PRODUCT
      VALUE "LegalCopyright",   COPYRIGHT
      VALUE "OriginalFilename", EXECUTABLE
      VALUE "ProductName",      PRODUCT
      VALUE "ProductVersion",   VERSION_STR
    END
  END
 
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0407, 0x04B0
  END
END
